body {
    padding: 0;
    margin: 0;
}

.header {
    text-align: center;
    color: salmon;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5vh;
}

.header > h1 {
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: salmon;
    font-size: 1.5em;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    padding: 3vh;
}

.nav-bar > h1 {
    display: none;
}

.image-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 60%;
    grid-gap: 5% 5%;
    margin: 0 auto;
}

img {
    width: 100%;
}

.image-grid-item {
    position: relative;
}

.overlay {
    position: absolute;
    display: flex;
    
    align-items: center;
    height: 100%;
    width: 100%;
    color: white;
    opacity: 0;
    transition: opacity 0.5s ease;
    background-color: coral;
}

.image-description {
    font-size: 1.2em;
}

.image-grid-item:hover .overlay{
    opacity: 1;
    position: absolute;
    text-align: center;
}

.icon-container {
    display: none;
}

.pom {
    display: grid;
    grid-template-columns: auto auto;
}

.pom-container {
    position: relative;
}

.pom-container > img {
    width: 300px;
    margin-left: 40px;
}

.pom-container > h2, p, ul {
    color: salmon;
    position: relative;
}

.btn {
    width: fit-content;
    padding: 5px;
    border-radius: 25px;
    color: salmon;
    border-style: solid;
}

.contacts > h3, label {
    color: salmon;
}

.contacts {
    justify-self: center;
    border-style: solid;
    border-color: salmon;
    border-radius:5px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.contacts > textarea {
    background-color: peachpuff;
}

.contacts > .btn {
    background-color: peachpuff;

}

.snippets {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: peachpuff;
    padding: auto auto;
    padding-top: 50px
}

.projecttext {
    background-color: salmon;
    width: auto;
}

.projecttext > h3, h4 {
    justify-self: center;
    color: white;
}

.snippets > .projectimg {
    width: 500px;
}

@media (max-width: 500px){
    
    .nav-bar > h1{
        display: block;
    }

    .nav-bar {
        background-color: salmon;
        opacity: 0%;
        position: absolute;
        top: 0px;
        flex-direction: column;
        color: white;
        height: 100%;
        width: 0%;
        justify-content: center;
        align-items: center;
        z-index: 1;
        transition: width 1s ease-out, opacity 1s ease-out;
    }

    a {
        color: white;
    }

    .image-grid {
        grid-template-columns: 100%;
    }

    .icon-container {
        display: block;
    }

    .pom {
        display: block;
        align-items: center;
    }

    .pom-container {
        align-items: center;
    }

    .pom-container > h2 {
        margin-top: 50px;
        margin-left: 150px;
    }

    .pom-container {
        margin-left: 20px;
    }

    .snippets {
        display: flex;
        flex-direction: column;
    }

    
}